.internetIssuePage {
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  flex-direction: column;
}

.content {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 2rem;
  border-radius: 12px;
}
