.barcode-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 16px;
}

.barcode-item {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
